{
  "servers": {
    "localhost": {
      "server": "http://localhost:@docker.port@/exist",
      "user": "admin",
      "password": ""
    }
  },
  "sync": {
    "server": "localhost",
    "root": "/db/apps/ecocor",
    "active": true,
    "ignore": [
      ".existdb.json",
      ".git/**",
      ".venv/**",
      ".venv-dts/**",
      "build.xml",
      "build.properties",
      "build/**",
      "compose*.yml",
      "*.bak",
      "*.tmpl",
      "*.xar",
      "Makefile",
      "requirements*.txt",
      ".gitignore",
      ".hypothesis/**",
      ".pytest_cache/**",
      "schemathesis*.log",
      "*.log",
      "dts-report.html",
      "*-report.html"
    ]
  }
}
