openapi: "3.0.0"

info:
  version: 0.0.1
  title: EcoCor API
  contact:
    email: "trilcke@uni-potsdam.de"
  termsOfService: "https://ecocor.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - description: Production
    url: https://ecocor.org/api

tags:
  - name: meta
    description: Information about this service.
  - name: corpus
    description: Analyze a corpus.
  - name: text
    description: Analyze a text.
  - name: entities
    description: Analyze occurrences of animals and plants in corpora and texts.
  - name: annotations
    description: Stand-off annotation layers on texts.
  - name: tokens
    description: Word and punctuation tokens from the tokenized TEI.
  - name: search
    description: Full-text search over corpora and texts.
  - name: dts
    description: >-
      Distributed Text Services v1.0 API. Four endpoints — Entry Point,
      Collection, Navigation, Document — for programmatic access to
      tokenized TEI texts along their citation structure. See
      https://dtsapi.org/specifications/versions/v1.0/.
  - name: aggregate
    description: >-
      Pre-computed, per-text summaries of annotation data. Reads are
      served from a cached XML representation and are O(1) on cache
      size; POST triggers recomputation (admin only).
  - name: admin
    description: Manage corpora.

paths:
  /info:
    get:
      summary: API info
      description: >-
        Shows version numbers of the ecocor-api app and the underlying
        eXist-db.
      operationId: get-info
      tags: [meta]
      responses:
        '200':
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
              example:
                {
                  "existdb": "6.0.1",
                  "name": "EcoCor",
                  "status": "beta",
                  "version": "1.0.0"
                }

  /corpora:
    get:
      summary: List available corpora
      description: Get a list of available corpora. Optionally include corpus metrics.
      operationId: get-corpora
      tags: [corpus]
      responses:
        '200':
          description: Returns list of available corpora
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Corpus'
              example:
                [
                  {
                    "name": "en",
                    "title": "English EcoCor",
                    "repository": "https://github.com/dracor-org/eco_en",
                    "description": "See the [README on GitHub](https://github.com/dracor-org/eco_en).",
                    "licence": "CC0",
                    "licenceUrl": "https://creativecommons.org/share-your-work/public-domain/cc0/",
                    "uri": "http://ecocor.org/api/corpora/en",
                    "entitiesUrl": "http://ecocor.org/api/corpora/en/entities",
                    "textsUrl": "http://ecocor.org/api/corpora/en/texts",
                    "metrics": {
                      "numOfTexts": 23,
                      "numOfAuthors": 21,
                      "numOfParagraphs": 46457,
                      "numOfWords": 2346818.0,
                      "numOfEntities": 261,
                      "numOfEntityTypes": 3,
                      "numOfAnimals": 245,
                      "numOfPlants": 16,
                      "biodiversityIndex": 0
                    },
                    "updated": "2023-06-02T13:52:54.934Z"
                  }
                ]
    post:
      summary: Add new corpus
      operationId: post-corpora
      tags: [admin]
      requestBody:
        description: |
          The meta data for the new corpus can be provided in either JSON or XML
          format. The JSON structure is a straightforward object providing
          corpus name, title and (optionally) a repository URL. The XML format
          needs to be a TEI document with `teiCorpus` as its root element. The
          corpus title needs to be provided in the `titleStmt` while the name
          and repo URL are encoded in particular `idno` elements in the
          `publicationStmt` (see example).

          NB: Contrary to the TEI schema our teiCorpus document must not contain
          the `TEI` elements for individual texts.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - title
              properties:
                name:
                  type: string
                  description: corpus name
                title:
                  type: string
                  description: corpus title
                repository:
                  type: string
                  description: Git repository URL
            example: |
              {
                "name": "en",
                "title": "English EcoCor",
                "repository": "https://github.com/dracor-org/eco_en"
              }
          application/xml:
            schema:
              type: string
            example: |
              <?xml version="1.0" encoding="UTF-8"?>
              <teiCorpus xmlns="http://www.tei-c.org/ns/1.0">
                <teiHeader>
                  <fileDesc>
                    <titleStmt>
                      <title>English EcoCor</title>
                    </titleStmt>
                    <publicationStmt>
                      <publisher>EcoCor</publisher>
                      <idno type="URI" xml:base="https://ecocor.org/">en</idno>
                      <idno type="repo">https://github.com/dracor-org/eco_en</idno>
                    </publicationStmt>
                  </fileDesc>
                </teiHeader>
              </teiCorpus>
      responses:
        '200':
          description: Returns corpus metadata
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Posted data lacks required properties or is malformed
        '401':
          description: Authorization required
        '409':
          description: Corpus already exists

  /corpora/{corpusname}:
    get:
      summary: Get metadata of a single corpus
      description: Retrieve metadata about a single corpus.
      operationId: get-corpus
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Returns object representing corpus metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              example:
                {
                  "name": "en",
                  "title": "English EcoCor",
                  "repository": "https://github.com/dracor-org/eco_en",
                  "description": "See the [README on GitHub](https://github.com/dracor-org/eco_en).",
                  "licence": "CC0",
                  "licenceUrl": "https://creativecommons.org/share-your-work/public-domain/cc0/",
                  "uri": "http://ecocor.org/api/corpora/en",
                  "entitiesUrl": "http://ecocor.org/api/corpora/en/entities",
                  "textsUrl": "http://ecocor.org/api/corpora/en/texts",
                  "metrics": {
                    "numOfTexts": 23,
                    "numOfAuthors": 21,
                    "numOfParagraphs": 46457,
                    "numOfWords": 2346818.0,
                    "numOfEntities": 261,
                    "numOfEntityTypes": 3,
                    "numOfAnimals": 245,
                    "numOfPlants": 16,
                    "biodiversityIndex": 0
                  },
                  "updated": "2023-06-02T13:52:54.934Z"
                }
        '404':
          description: Corpus not found
    post:
      summary: Load corpus data from its repository
      description: >-
        This endpoint requires authorization.

        Sending a POST request to the corpus URI reloads the data for this
        corpus from its repository (if defined).
      operationId: load-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '202':
          description: Corpus update has been scheduled
          content:
            application/json:
              schema:
                type: object
              example: |
                {
                  "message": "corpus update scheduled"
                }
        '401':
          description: Authorization required
        '404':
          description: Corpus not found
        '409':
          description: >-
            Corpus update could not be scheduled.

            This is the response when another update has not yet finished.
    delete:
      summary: Remove corpus from database
      operationId: delete-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Corpus deleted
        '401':
          description: Authorization required
        '404':
          description: Corpus not found

  /corpora/{corpusname}/texts:
    get:
      summary: List texts in a corpus
      description: Get the contens of a single corpus
      operationId: get-corpus-texts
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Returns an array with text meta data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Text'
        '404':
          description: Corpus not found

  /corpora/{corpusname}/texts/{textname}:
    get:
      summary: Get a single text information
      description: Get metadata about an individual text in JSON format.
      operationId: get-text
      tags: [text]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Returns an object with text meta data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Text'
            application/tei+xml:
              schema:
                type: string
        '404':
          description: Corpus or text not found

    delete:
      summary: Remove a single text from the corpus
      operationId: delete-text
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Text has been removed
        '401':
          description: Authorization required
        '404':
          description: No such text under this URI

  /corpora/{corpusname}/texts/{textname}/tei:
    get:
      summary: Get a single text
      description: Get a single text as TEI XML.
      operationId: get-text-tei
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        '200':
          description: Returns a TEI XML document
          content:
            application/tei+xml:
              schema:
                type: string
        '404':
          description: Corpus or text not found

  /corpora/{corpusname}/texts/{textname}/plaintext:
    get:
      summary: Get plain text version of a single text
      description: Outputs the body and of the TEI document without any markup.
      operationId: get-text-plain
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        '200':
          description: Returns a plain text document
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Corpus or text not found

  /corpora/{corpusname}/texts/{textname}/annotations:
    get:
      summary: List stand-off annotation layers for a text
      description: >-
        Returns a list of annotation layers available for the text, with
        metadata extracted from each layer's TEI header. The `name` field
        comes from the filename (stable URL identifier); the `type` field
        comes from `listAnnotation/@type` and describes the semantic kind
        of annotations — multiple layers can share the same type (e.g.
        `dictionarylookup` and `ntee` both have `type=entities`).
      operationId: get-text-annotations
      tags: [annotations]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Returns an array of annotation layer objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnnotationLayer'
        '404':
          description: Text not found or no annotations subcollection

  /corpora/{corpusname}/texts/{textname}/annotations/{layername}:
    get:
      summary: Get a single annotation layer
      description: >-
        Returns the annotation layer in the requested format. The default
        JSON response carries layer metadata, the full taxonomy, and all
        annotations with their target tokens (id + resolved surface text)
        and body (key-value pairs from `@ana`, `@corresp`, and
        `tei:note[@type]`).


        Use `format=tei` to get the raw TEI document, or `format=tsv`
        to get a tab-separated table with dynamically derived columns.


        Use `category` to filter annotations by `@ana` value (single,
        comma-separated, or repeated). The filter is ignored for
        `format=tei`. `size` and `categoryCounts` reflect the filtered
        set; `taxonomy` always contains the full taxonomy from the layer.
      operationId: get-text-annotation-layer
      tags: [annotations]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/category"
      responses:
        '200':
          description: >-
            Returns the annotation layer as JSON (default), raw TEI XML
            (format=tei), or TSV (format=tsv).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationLayerFull'
            application/xml:
              schema:
                type: string
            text/tab-separated-values:
              schema:
                type: string
        '404':
          description: Text or annotation layer not found
    put:
      summary: Add or replace an annotation layer
      description: >-
        Stores the request body as `{layername}.xml` in the text's
        annotations/ subcollection, creating the subcollection if
        missing. Replaces on re-upload. Admin endpoint.


        The layer name must consist of lowercase ASCII letters, digits
        and dashes only. The request body must be a TEI document; no
        further validation is performed.
      operationId: put-text-annotation-layer
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
      responses:
        '201':
          description: Annotation layer stored (new)
          content:
            application/json:
              schema:
                type: object
        '200':
          description: Annotation layer replaced
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid layer name or missing TEI document
        '401':
          description: Authorization required
        '404':
          description: Text not found
    delete:
      summary: Delete an annotation layer
      description: Admin endpoint.
      operationId: delete-text-annotation-layer
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
      responses:
        '200':
          description: Layer deleted
        '401':
          description: Authorization required
        '404':
          description: Layer not found

  /corpora/{corpusname}/texts/{textname}/tokens:
    get:
      summary: List all tokens of a text
      description: >-
        Returns all `<w>` and `<pc>` tokens from the tokenized base TEI
        (`tokenized.xml`) in document order. The `unit` field is only
        present on punctuation tokens that carry `@unit` (e.g. "sentence").
      operationId: get-text-tokens
      tags: [tokens]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Returns token list as JSON (default) or TSV
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
            text/tab-separated-values:
              schema:
                type: string
        '404':
          description: Tokenized TEI not found

  /corpora/{corpusname}/texts/{textname}/tokens/{tokenid}:
    get:
      summary: Get a single token with all annotations
      description: >-
        Looks up the token in `tokenized.xml` by xml:id and aggregates
        all annotations that target it across every layer in the
        text's annotations/ subcollection. The `annotations` array is
        flat; each entry carries its `layer` name and a `body` of
        key-value pairs.
      operationId: get-text-token
      tags: [tokens]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/tokenid"
      responses:
        '200':
          description: Returns the token with its annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenWithAnnotations'
        '404':
          description: Token not found

  /search/metadata:
    get:
      summary: Search texts by bibliographic metadata
      description: >-
        Text-level metadata search over title and author. Returns
        whole-text hits (not paragraph-level like `/search`). Uses
        Lucene full-text indexing on `tei:title` and `tei:author`
        inside the `teiHeader`. Supports Lucene query syntax (phrases,
        wildcards, boolean operators).


        Use `q` to match title OR author. Use `title` / `author` to
        target one or the other. Filters combine with AND. At least
        one of `q`, `title`, or `author` is required.
      operationId: get-search-metadata
      tags: [search]
      parameters:
        - name: q
          in: query
          required: false
          description: Match in title OR author
          schema:
            type: string
          examples:
            kleist:
              value: Kleist
            wildcard:
              value: "Kleis*"
        - name: title
          in: query
          required: false
          description: Match in title only
          schema:
            type: string
          examples:
            erdbeben:
              value: Erdbeben
        - name: author
          in: query
          required: false
          description: Match in author names only
          schema:
            type: string
          examples:
            goethe:
              value: Goethe
        - name: corpus
          in: query
          required: false
          description: Restrict search to a single corpus
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Results per page
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          required: false
          description: Zero-based offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Text-level search result page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataSearchResults'
        '400':
          description: No filter parameter supplied
        '404':
          description: Corpus not found

  /corpora/{corpusname}/entities:
    get:
      summary: Get entities of a single corpus
      description: Optionally filter by entity type.
      operationId: get-corpus-entities
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
        '404':
          description: Corpus not found

  /corpora/{corpusname}/texts/{textname}/entities:
    get:
      summary: Get entities of a single text
      description: Optionally filter by entity type.
      operationId: get-text-entities
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'

  /corpora/{corpusname}/texts/{textname}/entities/csv:
    get:
      summary: Get entities of a single text as CSV
      description: Optionally filter by entity type.
      operationId: get-text-entities-csv
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            text/csv:
              schema:
                type: string

  /search:
    get:
      summary: Full-text search across corpora and texts
      description: >-
        Paragraph-level Lucene full-text search over the tokenized TEI
        of every text. Returns hits with KWIC context and URLs into
        the DTS Collection, Navigation and Document endpoints. The
        query syntax is Lucene's standard query parser — supports
        phrases, boolean operators, wildcards, proximity etc.


        Optionally restrict to a single corpus with `corpus=<name>` or
        to a single text with `id=<resource-id>` (the DTS resource id,
        matching `TEI/@xml:id` with the `_tokenized` suffix stripped).
      operationId: get-search
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (Lucene syntax)
          schema:
            type: string
            minLength: 1
          examples:
            nachtigall:
              value: Nachtigall
            phrase:
              value: '"im Wipfel"'
            boolean:
              value: "Nachtigall OR Lerche"
        - name: corpus
          in: query
          required: false
          description: Restrict search to a single corpus
          schema:
            type: string
          examples:
            german:
              value: de
        - name: id
          in: query
          required: false
          description: >-
            Restrict search to a single resource. The public DTS
            resource id (not the internal `_tokenized` form).
          schema:
            type: string
          examples:
            kleist:
              value: eco_de_000033
        - name: limit
          in: query
          required: false
          description: Number of results per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: Zero-based offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Search result page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        '400':
          description: Parameter `q` missing
        '404':
          description: Corpus or resource not found

  /search/tokens:
    get:
      summary: Search tokens by surface form
      description: >-
        Full-text search over `<w>` tokens in the tokenized TEI. Each
        hit includes the list of annotations that target the token
        (from any layer) — so the client can see **which layers
        detected it**, by which `layerType`, and with what body.


        The optional `layerType` filter narrows results to tokens that
        carry an annotation from at least one layer whose
        `listAnnotation/@type` equals the given value. For entity-type
        queries, use `layerType=entities` — this excludes the
        linguistic layer (which annotates every token) so the result
        reflects what entity taggers actually caught.


        Uses Lucene full-text indexing on `tei:w`. Standard Lucene
        syntax — wildcards like `Biber*` catch inflections and
        compounds ("Biber", "Bibern", "Biberrepublik", …).
      operationId: get-search-tokens
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: Surface-form query (Lucene syntax)
          schema:
            type: string
            minLength: 1
          examples:
            exact:
              value: Biber
            wildcard:
              value: "Biber*"
            phrase:
              value: '"guter Mann"'
        - name: layerType
          in: query
          required: false
          description: >-
            Filter to tokens annotated by at least one layer whose
            `listAnnotation/@type` matches this value. `entities` is
            the common case (excludes the linguistic layer).
          schema:
            type: string
          examples:
            entities:
              value: entities
            linguistic:
              value: linguistic
        - name: corpus
          in: query
          required: false
          description: Restrict to a single corpus
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Restrict to a single resource (DTS public id)
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Results per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: Zero-based offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Token search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSearchResults'
        '400':
          description: Parameter `q` missing
        '404':
          description: Corpus or resource not found

  /dts:
    get:
      summary: DTS Entry Point
      description: >-
        Advertises URI templates for the Collection, Navigation and
        Document endpoints so clients can discover them.


        Spec: https://dtsapi.org/specifications/versions/v1.0/#entry-endpoint
      operationId: get-dts-entry
      tags: [dts]
      responses:
        '200':
          description: JSON-LD Entry Point document
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/DtsEntryPoint'

  /dts/collection:
    get:
      summary: DTS Collection endpoint
      description: >-
        Lists a collection and its members. Without `id`, returns the
        root collection (one member per corpus). With `id` set to a
        corpus name, returns the corpus' texts; with `id` set to a
        Resource id, returns that text as a leaf Resource.


        Spec: https://dtsapi.org/specifications/versions/v1.0/#collection-endpoint
      operationId: get-dts-collection
      tags: [dts]
      parameters:
        - name: id
          in: query
          required: false
          description: Collection or Resource id.
          schema:
            type: string
          examples:
            corpus:
              value: de
              summary: German corpus
            resource:
              value: eco_de_000033
              summary: "Kleist: Das Erdbeben in Chili"
        - name: nav
          in: query
          required: false
          description: Navigate to parents instead of children.
          schema:
            type: string
            enum: [children, parents]
            default: children
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: JSON-LD Collection document
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/DtsCollection'
        '404':
          description: Collection id not found

  /dts/navigation:
    get:
      summary: DTS Navigation endpoint
      description: >-
        Returns the citation tree (or a subtree) for a Resource.
        `resource` is required. `ref` selects a single citable unit;
        `start`/`end` select a range. `down` controls descent depth;
        `tree=true` returns the full structural subtree.


        Spec: https://dtsapi.org/specifications/versions/v1.0/#navigation-endpoint
      operationId: get-dts-navigation
      tags: [dts]
      parameters:
        - name: resource
          in: query
          required: true
          description: Resource id (public form, no `_tokenized` suffix).
          schema:
            type: string
            minLength: 1
          examples:
            kleist:
              value: eco_de_000033
        - name: ref
          in: query
          required: false
          description: A single citable unit's identifier.
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: Start of a range of citable units.
          schema:
            type: string
        - name: end
          in: query
          required: false
          description: End of a range of citable units.
          schema:
            type: string
        - name: down
          in: query
          required: false
          description: >-
            Depth of descent into the citation tree. Use `-1` for the
            full tree.
          schema:
            type: integer
            default: 1
        - name: tree
          in: query
          required: false
          description: Request the full structural tree.
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: JSON-LD Navigation document
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/DtsNavigation'
        '400':
          description: Parameter `resource` missing or `ref`/`start`+`end` mutually exclusive rule violated.
        '404':
          description: Resource not found

  /dts/document:
    get:
      summary: DTS Document endpoint
      description: >-
        Returns TEI XML for a Resource or citable unit. Without `ref`,
        `start`, or `end`, returns the full tokenized TEI. `ref`
        returns one citable unit; `start`/`end` return a range.
        `mediaType` is accepted for spec conformance but only TEI XML
        is served.


        Spec: https://dtsapi.org/specifications/versions/v1.0/#document-endpoint
      operationId: get-dts-document
      tags: [dts]
      parameters:
        - name: resource
          in: query
          required: true
          description: Resource id (public form).
          schema:
            type: string
            minLength: 1
          examples:
            kleist:
              value: eco_de_000033
        - name: ref
          in: query
          required: false
          description: A single citable unit's identifier.
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: Start of a range of citable units.
          schema:
            type: string
        - name: end
          in: query
          required: false
          description: End of a range of citable units.
          schema:
            type: string
        - name: tree
          in: query
          required: false
          description: Request the full structural tree.
          schema:
            type: boolean
        - name: mediaType
          in: query
          required: false
          description: Accepted for spec conformance; only TEI XML is served.
          schema:
            type: string
      responses:
        '200':
          description: TEI XML document (wrapped in `<dts:wrapper>` when a fragment).
          content:
            application/tei+xml:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        '400':
          description: Parameter `resource` missing or range arguments invalid.
        '404':
          description: Resource or citable unit not found

  /aggregate/entities:
    get:
      summary: Read cached entity aggregate
      description: >-
        Returns the pre-computed entity aggregate for a corpus or a
        single text. Requires `corpus`. With `id`, returns the aggregate
        for that one text; without `id`, merges every cached text in
        the corpus (summing `mentionCount` and counting distinct
        `textCount` per entity).


        Entities are grouped by lemma. Each entry carries the lemma
        key, surface forms seen, categories (`@ana` values from
        annotations), layers that detected the entity, and Wikidata
        ids where known.


        Caches must exist beforehand — POST to this endpoint first.
      operationId: get-aggregate-entities
      tags: [aggregate]
      parameters:
        - name: corpus
          in: query
          required: true
          description: Corpus name.
          schema:
            type: string
            minLength: 1
          examples:
            german:
              value: de
        - name: id
          in: query
          required: false
          description: Restrict to a single text (Resource id, public form).
          schema:
            type: string
          examples:
            kleist:
              value: eco_de_000033
        - name: category
          in: query
          required: false
          description: >-
            Filter to entities of this category (the `@ana` value
            without leading `#`).
          schema:
            type: string
          examples:
            plant:
              value: cat-plant
            animal:
              value: cat-animal
        - name: limit
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          required: false
          description: Zero-based offset.
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Aggregate result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAggregate'
        '400':
          description: Parameter `corpus` missing
        '404':
          description: >-
            Corpus not found, or no aggregate cached yet (POST first).
    post:
      summary: Compute and cache entity aggregates (admin)
      description: >-
        Triggers computation. Without `id`, computes every text in the
        corpus that has an entity-type annotation layer. With `id`,
        computes one text. Results are stored at
        `{corpus}/{text}/aggregates/entities.xml` and served by
        subsequent GETs.


        Admin endpoint — requires `Authorization` header.
      operationId: post-aggregate-entities
      tags: [admin]
      parameters:
        - name: corpus
          in: query
          required: true
          description: Corpus name.
          schema:
            type: string
            minLength: 1
        - name: id
          in: query
          required: false
          description: Restrict to a single text (Resource id, public form).
          schema:
            type: string
      responses:
        '201':
          description: Aggregate computed and stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateComputeResult'
        '400':
          description: Parameter `corpus` missing
        '401':
          description: Authorization required
        '404':
          description: Corpus or text not found

components:
  parameters:
    corpusname:
      name: corpusname
      in: path
      required: true
      description: >
        Short name of the corpus as provided in the `name` property of the result
        objects from the [/corpora](#/corpus/get-corpora) endpoint
      schema:
        type: string
      examples:
        EnglishEcoCor:
          value: en
          summary: English EcoCor
        GermanEcoCor:
          value: de
          summary: German EcoCor
    textname:
      name: textname
      in: path
      required: true
      description: >
        Name parameter (or "slug") of the text as provided in the `name`
        property of the result objects of the
        [/corpora/{corpusname}/texts](#/corpus/get-corpus-texts) endpoint.
      schema:
        type: string
      examples:
        frankenstein:
          value: 1818_Shelley_Frankenstein
          summary: "Shelly: Frankenstein (English EcoCor)"
    entityType:
      name: type
      description: Filter entities by entity type.
      in: query
      required: false
      schema:
        type: string
      examples:
        Animal:
          value: Animal
        Plant:
          value: Plant
    layername:
      name: layername
      in: path
      required: true
      description: >
        Annotation layer name as provided in the `name` property of the
        layers listing. This is the filename without `.xml`.
      schema:
        type: string
      examples:
        linguistic:
          value: linguistic
          summary: POS and lemma annotations
        dictionarylookup:
          value: dictionarylookup
          summary: Entity annotations from dictionary lookup
        ntee:
          value: ntee
          summary: Manual/expert entity annotations
    format:
      name: format
      in: query
      required: false
      description: >
        Output format. Default is "json". Use "tei" for the raw TEI
        document or "tsv" for tab-separated values. The `category`
        filter is ignored for `format=tei`.
      schema:
        type: string
        enum: [json, tei, tsv]
        default: json
    category:
      name: category
      in: query
      required: false
      description: >
        Filter annotations by category (the `@ana` value with leading
        `#` stripped). Accepts a single value, a comma-separated list,
        or a repeated query parameter.
      schema:
        type: string
      examples:
        plant:
          value: cat-plant
        animal:
          value: cat-animal
        noun:
          value: stts-NN
    tokenid:
      name: tokenid
      in: path
      required: true
      description: >
        Token xml:id as found in the tokenized base TEI.
      schema:
        type: string
      examples:
        pinien:
          value: eco_de_000033_140_0730
          summary: "Pinien (Kleist: Das Erdbeben in Chili)"
  schemas:
    Info:
      type: object
      title: API info
      description: >-
        Version and environment information for the running EcoCor API.
        Pulled from the expath-pkg.xml descriptor (name/version) and
        eXist's `system:get-version()`. The `base` field is the API's
        own base URL.
      x-ecocor-api-function: "api:base"
      properties:
        name:
          type: string
          description: App title from `expath-pkg.xml`.
        version:
          type: string
          description: App version from `expath-pkg.xml`.
        existdb:
          type: string
          description: Running eXist-db version.
        base:
          type: string
          format: url
          description: API base URL (from `$config:api-base`).
      required:
        - name
        - version
        - existdb
        - base
    CorpusMetrics:
      type: object
      title: Corpus-level metrics
      description: >-
        Aggregate counts and indicators for a corpus, computed live from
        the TEI collection and pre-computed metric files.
      x-ecocor-api-function: "metrics:corpus"
      properties:
        numOfTexts:
          type: integer
          description: Number of texts in the corpus.
        numOfParagraphs:
          type: integer
          description: Total `<p>` count across all texts.
        numOfWords:
          type: number
          description: >-
            Total word count. Typed as `number` (not `integer`) because
            XQuery's `sum()` over integer-typed values promotes to
            `xs:double`; the handler returns e.g. `6727355.0`.
        numOfAuthors:
          type: integer
          description: Distinct author names across the corpus.
        numOfEntities:
          type: integer
          description: Distinct Wikidata-identified entities.
        numOfEntityTypes:
          type: integer
          description: Distinct entity categories (animal, plant, ...).
        numOfAnimals:
          type: integer
          description: Distinct entities with category `Animal`.
        numOfPlants:
          type: integer
          description: Distinct entities with category `Plant`.
        biodiversityIndex:
          type: number
          description: >-
            Placeholder value; currently always 0 (index computation
            not yet implemented).
    Corpus:
      type: object
      title: Corpus
      description: >-
        Metadata for one corpus, assembled from the corpus's `teiCorpus`
        teiHeader plus live-computed metrics. `metrics` is merged in
        from `metrics:corpus`.
      x-ecocor-api-function: "ectei:get-corpus-info"
      properties:
        name:
          type: string
          description: >-
            Short corpus name, from `publicationStmt/idno[not(@type)]`.
            Used as the URL segment.
        title:
          type: string
          description: Corpus title from `titleStmt/title[1]`.
        acronym:
          type: string
          description: >-
            Short label from `titleStmt/title[@type="acronym"]`, if
            present.
        description:
          type: string
          description: >-
            Rendered Markdown of `encodingDesc/projectDesc//p`,
            paragraph-joined.
        repository:
          type: string
          format: url
          description: Git repository URL from `idno[@type="repo"]`.
        licence:
          type: string
          description: Licence label from `availability/licence`.
        licenceUrl:
          type: string
          format: url
          description: Licence URL from `availability/licence/@target`.
        uri:
          type: string
          format: url
          description: >-
            Canonical API URL for this corpus
            (`<api-base>/corpora/<name>`).
        metrics:
          $ref: '#/components/schemas/CorpusMetrics'
        textsUrl:
          type: string
          format: url
          description: URL of the texts listing for this corpus.
        entitiesUrl:
          type: string
          format: url
          description: URL of the entities listing for this corpus.
        updated:
          type: string
          description: >-
            ISO timestamp of the last git update for the corpus
            (from the repo's `git.xml`).
      required:
        - name
        - title
        - textsUrl
        - entitiesUrl
    Source:
      type: object
      title: Bibliographic source
      description: >-
        One entry from a text's `sourceDesc` (typically a
        `digitalSource`, `printSource`, or `firstEdition` bibl). All
        fields besides `bibl` are optional and depend on what the TEI
        header provides.
      x-ecocor-api-function: "ectei:get-sources"
      properties:
        type:
          type: string
          description: >-
            The `@type` attribute of the source `<bibl>`, e.g.
            `digitalSource`, `printSource`, `firstEdition`.
        bibl:
          type: string
          description: The normalized text of the `<bibl>` element.
        title:
          type: string
          description: >-
            Title of the source, from the first `<title>` child of
            the bibl.
        author:
          type: string
          description: >-
            Author name, from the first `<author>` child of the bibl.
        publisher:
          type: string
          description: >-
            Publisher name, from the first `<publisher>` child.
        placePublished:
          type: string
          description: >-
            Publication place, from the first `<pubPlace>` child.
        year:
          type: string
          nullable: true
          description: >-
            Publication year as a string — may be a range
            (e.g. "1795/1796") so declared as `string`. Can be
            `null` for bibl entries without a parseable date.
        links:
          type: array
          description: >-
            External links, built from `<ref>` children of the bibl.
            `target` URLs are used as-is; `textgrid:` URIs are
            rewritten to `textgridrep.org`.
          items:
            type: object
            properties:
              url:
                type: string
                format: url
                description: >-
                  Target URL — from `ref/@target`, or `ref`'s text
                  content if it looks like a URL.
              text:
                type: string
                description: >-
                  Optional label text from the `<ref>` element's
                  content.
      required:
        - bibl
    TextMetrics:
      type: object
      title: Text-level metrics
      description: >-
        Per-text counts derived from the TEI body and pre-computed
        entity tables. Embedded in the `Text` response via the `metrics`
        property.
      x-ecocor-api-function: "metrics:text"
      properties:
        numOfChapters:
          type: integer
          description: Count of `<div type="chapter">` elements.
        numOfParagraphs:
          type: integer
          description: Count of `<p>` elements in the body.
        numOfWords:
          type: number
          description: >-
            Word count for the text. Typed as `number` — see note on
            `CorpusMetrics.numOfWords`.
        numOfEntities:
          type: integer
          description: Distinct Wikidata-identified entities in this text.
        numOfEntityTypes:
          type: integer
          description: Distinct entity categories detected in this text.
        numOfAnimals:
          type: integer
          description: Distinct entities with category `Animal`.
        numOfPlants:
          type: integer
          description: Distinct entities with category `Plant`.
        biodiversityIndex:
          type: number
          description: >-
            Placeholder value; currently always 0.
    Author:
      type: object
      title: Author
      description: >-
        One author entry from the TEI `titleStmt/author`. Multiple
        authors can appear per text; illustrators are excluded.
      x-ecocor-api-function: "ectei:get-authors"
      properties:
        name:
          type: string
          description: >-
            Author name with any trailing parentheses (dates etc.)
            stripped.
        ref:
          type: string
          format: url
          description: >-
            Wikidata URI from `author/@ref`, if the TEI encodes one.
      required:
        - name
    Text:
      type: object
      title: Text
      description: >-
        Metadata for one text, built from its TEI header plus live
        metrics and git commit info. `metrics` is merged from
        `metrics:text`, `sources` from `ectei:get-sources`, and
        `authors` from `ectei:get-authors`.
      x-ecocor-api-function: "ectei:get-text-info"
      properties:
        id:
          type: string
          description: Public resource id (TEI `@xml:id`, slugified).
        name:
          type: string
          description: Text name (URL slug, from the collection name).
        corpus:
          type: string
          description: Name of the containing corpus.
        title:
          type: string
          description: Main title from the TEI `titleStmt/title[1]`.
        authors:
          type: array
          description: Author list from `ectei:get-authors`.
          items:
            $ref: '#/components/schemas/Author'
        ref:
          type: string
          format: url
          description: >-
            Wikidata URI for the text itself, from
            `titleStmt/title/@ref`. May contain multiple
            space-separated tokens; see `refs`.
        refs:
          type: array
          description: >-
            Individual ref tokens parsed from `@ref`, filtered to
            valid Wikidata-like identifiers.
          items:
            type: string
        referenceYear:
          type: string
          description: >-
            Normalized year of reference (firstEdition date or
            equivalent), from `ectei:get-reference-year`. Returned as
            a string because the TEI may encode ranges
            (e.g. `"1795/1796"`). Absent if not encoded in the TEI.
        sources:
          type: array
          description: >-
            Bibliographic sources from `sourceDesc/bibl`.
          items:
            $ref: '#/components/schemas/Source'
        metrics:
          $ref: '#/components/schemas/TextMetrics'
        commit:
          type: string
          description: >-
            Git commit SHA of the corpus repo at the time of
            ingestion, from the per-corpus `git.xml`.
        corpusUrl:
          type: string
          format: url
          description: API URL of the containing corpus.
        entitiesUrl:
          type: string
          format: url
          description: API URL of the text's entities listing.
      required:
        - id
        - name
        - corpus
        - title
        - authors
        - sources
        - metrics
        - corpusUrl
        - entitiesUrl
    Occurrence:
      type: object
      title: Entity occurrence
      description: >-
        One occurrence of an entity within a specific paragraph. The
        `id` is the paragraph's `xml:id`; `frequency` is the number of
        mentions of this entity in that paragraph.
      x-ecocor-api-function: "entities:corpus"
      properties:
        id:
          type: string
          description: Paragraph `xml:id` where the entity occurs.
        frequency:
          type: integer
          description: >-
            Count of mentions of the entity in this paragraph.
      required:
        - id
        - frequency
    EntityMetrics:
      type: object
      title: Entity metrics
      description: >-
        Aggregate occurrence data for one entity. Embedded in `Entity`
        via `metrics`. Produced as part of the entity list response.
      x-ecocor-api-function: "entities:corpus"
      properties:
        overallFrequency:
          type: integer
          description: Total mentions across all occurrences.
        occurrences:
          type: array
          description: Paragraph-level occurrences.
          items:
            $ref: '#/components/schemas/Occurrence'
      required:
        - overallFrequency
        - occurrences
    Entity:
      type: object
      title: Entity
      description: >-
        A distinct entity identified by its Wikidata Q-number and
        aggregated mention data. Produced by both `entities:corpus`
        (whole corpus) and `entities:text` (per text).
      x-ecocor-api-function: "entities:corpus"
      properties:
        id:
          type: string
          description: Wikidata Q-identifier (e.g. `Q25234`).
        name:
          type: string
          description: Display name from the first entity record.
        type:
          type: string
          description: >-
            Entity category (e.g. `Animal`, `Plant`). Comes from the
            `<category>` element of the entity record.
        metrics:
          $ref: '#/components/schemas/EntityMetrics'
        uri:
          type: string
          format: url
          description: >-
            Canonical URL for this entity on the EcoCor API, if
            emitted by the handler.
      required:
        - id
        - name
        - type
        - metrics
    AnnotationLayer:
      type: object
      title: Annotation layer (summary)
      description: >-
        Summary view of one stand-off annotation layer. Returned in
        the list response `/corpora/{c}/texts/{t}/annotations`. Does
        not include the annotations themselves; see `AnnotationLayerFull`.
      x-ecocor-api-function: "api:text-annotations"
      properties:
        name:
          type: string
          description: >-
            Layer identifier (filename without .xml). Stable URL
            identifier used in /annotations/{layername}.
        type:
          type: string
          description: >-
            Annotation type from listAnnotation/@type. Multiple layers
            can have the same type (e.g. dictionarylookup and ntee both
            have type=entities).
        size:
          type: integer
          description: Number of annotation elements in the layer
        categoryCounts:
          type: object
          description: >-
            Per-category count (keys are @ana values with leading #
            stripped, values are counts).
          additionalProperties:
            type: integer
        uri:
          type: string
          format: url
          description: Canonical API URL of this layer.
        title:
          type: string
          description: >-
            Layer title from `teiHeader/titleStmt/title[1]`. Omitted
            if the layer's header has none.
        licence:
          type: string
          format: url
          description: >-
            Licence URL from `teiHeader/availability/licence/@target`.
            Omitted if the layer declares no licence.
        source:
          type: string
          description: >-
            Target URL from `sourceDesc/bibl/ref[@type="source"]/@target`
            — typically the base TEI this layer annotates. Omitted if
            the layer declares no explicit source.
        application:
          type: object
          description: >-
            Tooling used to produce the layer, from the layer header's
            `appInfo/application`. Omitted if not declared.
          properties:
            ident:
              type: string
              description: Application identifier (`@ident`).
            version:
              type: string
              description: Application version (`@version`).
      required:
        - name
        - type
        - size
        - categoryCounts
        - uri
    AnnotationLayerFull:
      title: Annotation layer (full)
      description: >-
        Full view of one annotation layer, including its taxonomy and
        all annotations. Returned by
        `/corpora/{c}/texts/{t}/annotations/{layername}` when
        `format=json` (the default). Extends `AnnotationLayer`.
      x-ecocor-api-function: "api:text-annotation-layer"
      allOf:
        - $ref: '#/components/schemas/AnnotationLayer'
        - type: object
          properties:
            taxonomy:
              type: object
              description: >-
                Category definitions from the layer's `<classDecl>`.
                Always the full taxonomy, regardless of category filter.
              properties:
                id:
                  type: string
                  description: >-
                    The taxonomy element's `xml:id`
                    (from `classDecl/taxonomy/@xml:id`).
                categories:
                  type: array
                  description: >-
                    One entry per `<category>` in the taxonomy.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: >-
                          Category id (`category/@xml:id`); matches
                          the values that appear (stripped of `#`) in
                          annotation `@ana` attributes.
                      description:
                        type: string
                        description: >-
                          Normalized text of the category's
                          `<catDesc>`.
            annotations:
              type: array
              description: >-
                All annotation elements in the layer, filtered by the
                request's `category` parameter if supplied.
              items:
                $ref: '#/components/schemas/Annotation'
          required:
            - annotations
    Annotation:
      type: object
      title: Annotation
      description: >-
        One annotation element — a target (the annotated token[s] with
        resolved surface text) and a body (key-value pairs extracted
        from TEI attributes and `note` children). Embedded in
        `AnnotationLayerFull.annotations`.
      x-ecocor-api-function: "api:text-annotation-layer"
      properties:
        target:
          type: object
          description: The annotated token(s)
          properties:
            id:
              description: >-
                Token xml:id. For multi-token spans this is an array of
                ids in document order.
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            text:
              type: string
              description: >-
                Surface form of the target token(s), resolved from the
                tokenized base TEI. Multi-token spans are joined with
                single spaces.
          required:
            - id
            - text
        body:
          type: array
          description: >-
            Key-value pairs representing the annotation content.
            Keys come from TEI attributes (`ana`, `corresp`) and
            `tei:note[@type]` children (e.g. `lemma`).
          items:
            type: object
            properties:
              key:
                type: string
                description: >-
                  For attributes: the local-name of the attribute
                  (`ana`, `corresp`). For notes: the `@type` of the
                  `<note>` element.
              value:
                type: string
                description: >-
                  For attributes: the attribute's string value. For
                  notes: the normalized text content of the `<note>`.
            required:
              - key
              - value
      required:
        - target
        - body
    Token:
      type: object
      title: Token
      description: >-
        One token from the tokenized TEI — a `<w>` (word) or `<pc>`
        (punctuation) element. Returned by
        `/corpora/{c}/texts/{t}/tokens`.
      x-ecocor-api-function: "api:text-tokens"
      properties:
        id:
          type: string
          description: Token xml:id
        text:
          type: string
          description: Surface form
        type:
          type: string
          enum: [w, pc]
          description: Element type (word or punctuation)
        unit:
          type: string
          description: Punctuation unit (e.g. "sentence"), only on pc tokens
      required:
        - id
        - text
        - type
    TokenWithAnnotations:
      title: Token with aggregated annotations
      description: >-
        A single token plus every annotation targeting it across all
        layers. Returned by `/corpora/{c}/texts/{t}/tokens/{tokenid}`.
      x-ecocor-api-function: "api:text-token"
      allOf:
        - $ref: '#/components/schemas/Token'
        - type: object
          properties:
            annotations:
              type: array
              description: >-
                Annotations from all layers targeting this token. Each
                entry carries the layer name and a body of key-value
                pairs (from @ana, @corresp, and note[@type]).
              items:
                type: object
                properties:
                  layer:
                    type: string
                    description: >-
                      Layer name (filename without `.xml`) that
                      produced this annotation.
                  body:
                    type: array
                    description: >-
                      Flat list of key-value pairs for this
                      annotation.
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: >-
                            Attribute name or note `@type` — same
                            derivation as `Annotation.body[].key`.
                        value:
                          type: string
                          description: >-
                            Attribute value or normalized note text —
                            same derivation as `Annotation.body[].value`.
                      required:
                        - key
                        - value
                required:
                  - layer
                  - body
    SearchResults:
      type: object
      title: Full-text search results
      description: >-
        Paginated response of `/search`. Wraps a page of paragraph-level
        hits plus pagination metadata.
      x-ecocor-api-function: "search:search"
      properties:
        query:
          type: string
          description: The Lucene query that was executed (echo of `q`).
        totalHits:
          type: integer
          description: Total matching paragraphs across the scope.
        offset:
          type: integer
          description: >-
            Zero-based offset of the first hit in this page, echoed
            from the request's `offset` query parameter (default 0).
        limit:
          type: integer
          description: >-
            Number of hits per page, echoed from `limit` (default 20).
        results:
          type: array
          description: Current page of hits.
          items:
            $ref: '#/components/schemas/SearchHit'
      required:
        - query
        - totalHits
        - offset
        - limit
        - results
    SearchHit:
      type: object
      title: Full-text search hit
      description: >-
        One paragraph-level hit for `/search`. Includes resource/corpus
        metadata, a KWIC snippet, and DTS Collection/Navigation/Document
        URLs to the matching paragraph.
      x-ecocor-api-function: "search:search"
      properties:
        id:
          type: string
          description: Resource id (DTS public form)
        name:
          type: string
          description: Text slug (e.g. 1807_kleist_erdbeben)
        corpus:
          type: string
          description: Name of the containing corpus.
        title:
          type: string
          description: >-
            Main title of the text, from `ectei:get-titles(...)?main`.
        authors:
          type: array
          description: Authors of the text, `name` only (no `ref`).
          items:
            type: object
            properties:
              name:
                type: string
                description: >-
                  Author display name (no Wikidata ref; use the
                  `/corpora/{c}/texts/{t}` endpoint for full author
                  metadata).
        citableUnit:
          type: string
          description: >-
            Paragraph xml:id — usable as `ref` in DTS Navigation and
            Document endpoints.
        kwic:
          type: string
          description: Keyword-in-context snippet
        collection:
          type: string
          format: url
          description: DTS Collection URL for the resource
        navigation:
          type: string
          format: url
          description: DTS Navigation URL for the matching citable unit
        document:
          type: string
          format: url
          description: DTS Document URL for the matching citable unit
      required:
        - id
        - name
        - corpus
        - title
        - citableUnit
        - kwic
        - document
    MetadataSearchResults:
      type: object
      title: Metadata search results
      description: >-
        Paginated response of `/search/metadata`. Hits are texts (not
        paragraphs) matched by author and/or title substrings.
      x-ecocor-api-function: "search:metadata"
      properties:
        query:
          type: object
          description: Echo of the filters that were applied
        totalHits:
          type: integer
          description: Total matching texts across the scope.
        offset:
          type: integer
          description: >-
            Zero-based offset of the first hit (echoed from `offset`,
            default 0).
        limit:
          type: integer
          description: >-
            Results per page (echoed from `limit`, default 50).
        results:
          type: array
          description: Current page of hits.
          items:
            $ref: '#/components/schemas/MetadataHit'
      required:
        - query
        - totalHits
        - offset
        - limit
        - results
    MetadataHit:
      type: object
      title: Metadata search hit
      description: >-
        One text-level hit for `/search/metadata`.
      x-ecocor-api-function: "search:metadata"
      properties:
        id:
          type: string
          description: Resource id (DTS public form)
        name:
          type: string
          description: Text slug (collection name, e.g. `1807_kleist_erdbeben`).
        corpus:
          type: string
          description: Name of the containing corpus.
        title:
          type: string
          description: >-
            Main title of the text, from `ectei:get-titles(...)?main`.
        authors:
          type: array
          description: Authors of the text, `name` only.
          items:
            type: object
            properties:
              name:
                type: string
                description: Author display name.
        uri:
          type: string
          format: url
          description: >-
            Canonical API URL for this text, from
            `ecutil:filepaths(base-uri($tei))?uri`.
        collection:
          type: string
          format: url
          description: DTS Collection URL for the resource
      required:
        - id
        - name
        - corpus
        - title
    TokenSearchResults:
      type: object
      title: Token search results
      description: >-
        Paginated response of `/search/tokens`. Hits are `<w>` tokens
        matched by Lucene query, optionally filtered by layer type.
      x-ecocor-api-function: "search:tokens"
      properties:
        query:
          type: object
          description: Echo of the parameters that were applied
        totalHits:
          type: integer
          description: >-
            Total matching tokens (after the optional `layerType`
            filter).
        offset:
          type: integer
          description: >-
            Zero-based offset of the first hit (echoed from `offset`,
            default 0).
        limit:
          type: integer
          description: >-
            Results per page (echoed from `limit`, default 20).
        results:
          type: array
          description: Current page of hits.
          items:
            $ref: '#/components/schemas/TokenSearchHit'
      required:
        - query
        - totalHits
        - offset
        - limit
        - results
    TokenSearchHit:
      type: object
      title: Token search hit
      description: >-
        One token-level hit for `/search/tokens`. Carries the token
        itself plus all annotations targeting it across every layer,
        and a DTS Document URL for the containing paragraph.
      x-ecocor-api-function: "search:tokens"
      properties:
        id:
          type: string
          description: Resource id (DTS public form)
        name:
          type: string
          description: Text slug (collection name).
        corpus:
          type: string
          description: Name of the containing corpus.
        token:
          type: object
          description: The matching token, mirrored from `Token`.
          properties:
            id:
              type: string
              description: Token xml:id.
            text:
              type: string
              description: Surface form
            type:
              type: string
              enum: [w, pc]
              description: Element type (`w` or `pc`).
          required:
            - id
            - text
            - type
        citableUnit:
          type: string
          description: >-
            Containing paragraph xml:id — usable as `ref` in the DTS
            Navigation / Document endpoints.
        annotations:
          type: array
          description: >-
            All annotations targeting this token, flattened across
            layers. Each entry carries the layer name, the layer's
            `listAnnotation/@type` (semantic kind — `entities`,
            `linguistic`, …), and a body of key/value pairs from the
            annotation attributes and notes.
          items:
            type: object
            properties:
              layer:
                type: string
                description: Layer name (filename without .xml)
              layerType:
                type: string
                description: >-
                  From `listAnnotation/@type`. Multiple layers can share
                  a type (e.g. `dictionarylookup` and `ntee` both have
                  `layerType=entities`).
              body:
                type: array
                description: >-
                  Key-value pairs — same derivation as
                  `Annotation.body`.
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      description: >-
                        Attribute name or note `@type` — same
                        derivation as `Annotation.body[].key`.
                    value:
                      type: string
                      description: >-
                        Attribute value or normalized note text —
                        same derivation as `Annotation.body[].value`.
                  required:
                    - key
                    - value
            required:
              - layer
              - layerType
              - body
        tokenUri:
          type: string
          format: url
          description: Link to the single-token endpoint
        document:
          type: string
          format: url
          description: >-
            DTS Document URL pointing at the containing paragraph.
            Absent if the token is not inside a `<p>` with an xml:id.
      required:
        - id
        - name
        - corpus
        - token
        - annotations
    DtsEntryPoint:
      type: object
      title: DTS Entry Point
      description: >-
        JSON-LD Entry Point document as defined by the DTS v1.0
        specification. Advertises URI templates for the Collection,
        Navigation, and Document endpoints.
      x-ecocor-api-function: "ecdts:entry-point"
      properties:
        '@context':
          type: string
          format: url
          description: >-
            JSON-LD context URL (`$ecdts:jsonld-context`), always
            `https://dtsapi.org/context/v1.0.json`.
        '@id':
          type: string
          format: url
          description: Canonical URL of this Entry Point.
        '@type':
          type: string
          enum: [EntryPoint]
          description: Fixed string `EntryPoint`.
        dtsVersion:
          type: string
          example: "1.0"
          description: >-
            DTS spec version implemented — `"1.0"` (from
            `$ecdts:spec-version`).
        collection:
          type: string
          description: URI template for the Collection endpoint
        navigation:
          type: string
          description: URI template for the Navigation endpoint
        document:
          type: string
          description: URI template for the Document endpoint
      required:
        - '@context'
        - '@id'
        - '@type'
        - dtsVersion
        - collection
        - navigation
        - document
    DtsCollection:
      type: object
      title: DTS Collection
      description: >-
        JSON-LD Collection document as defined by the DTS v1.0
        specification. Represents either a collection (`@type:
        Collection`) or a leaf `Resource`. Dispatcher picks
        `root-collection`, `corpus-collection`, or `resource`
        depending on the `id` parameter.
      x-ecocor-api-function: "ecdts:collection"
      properties:
        '@context':
          type: string
          format: url
          description: >-
            JSON-LD context URL
            (`https://dtsapi.org/context/v1.0.json`).
        '@id':
          type: string
          description: >-
            Identifier — `"ecocor"` at root, the corpus name for a
            corpus collection, the public Resource id for a single
            text.
        '@type':
          type: string
          enum: [Collection, Resource]
          description: >-
            `Collection` for root/corpus views, `Resource` for a leaf
            text.
        dtsVersion:
          type: string
          description: DTS spec version (`"1.0"`).
        title:
          type: string
          description: >-
            Human-readable title. `"EcoCor"` at root, the corpus title
            for a corpus, the author-prefixed text title for a
            Resource.
        description:
          type: string
          description: >-
            Optional description text. For a corpus, carried from the
            corpus's `projectDesc` (Markdown-rendered).
        totalParents:
          type: integer
          description: >-
            Number of parent collections. `0` at root, `1` for a
            corpus or Resource.
        totalChildren:
          type: integer
          description: >-
            Number of direct children (sub-collections or Resources).
            Leaf Resources have `0`.
        member:
          type: array
          description: Child collections or resources.
          items:
            type: object
        collection:
          type: string
          description: URI template for following Collection links.
      required:
        - '@context'
        - '@id'
        - '@type'
        - dtsVersion
    DtsNavigation:
      type: object
      title: DTS Navigation
      description: >-
        JSON-LD Navigation document as defined by the DTS v1.0
        specification. Describes the citation structure of a Resource.
      x-ecocor-api-function: "ecdts:navigation"
      properties:
        '@context':
          type: string
          format: url
          description: >-
            JSON-LD context URL
            (`https://dtsapi.org/context/v1.0.json`).
        '@id':
          type: string
          description: >-
            Request URL for this Navigation response (reconstructed
            by `ecdts:navigation-request-id`).
        '@type':
          type: string
          enum: [Navigation]
          description: Fixed string `Navigation`.
        dtsVersion:
          type: string
          description: DTS spec version (`"1.0"`).
        resource:
          type: object
          description: The Resource this Navigation describes.
        member:
          type: array
          description: Citable units at the requested depth.
          items:
            type: object
      required:
        - '@context'
        - '@type'
        - dtsVersion
    EntityAggregate:
      type: object
      title: Entity aggregate
      description: >-
        Entity aggregate for a corpus or single text. Entities are
        grouped by lemma. Single-text responses come straight from the
        cached XML (`aggregate:xml-to-map`); corpus-wide responses
        merge every cached text in the corpus
        (`aggregate:merge-aggregates`).
      x-ecocor-api-function: "aggregate:get-entities"
      properties:
        scope:
          type: object
          description: >-
            The scope this aggregate was computed over — always a
            `corpus`, plus `id` when restricted to one text.
          properties:
            corpus:
              type: string
              description: Corpus name the aggregate is scoped to.
            id:
              type: string
              description: >-
                Present only when the aggregate is scoped to a single
                text (`@resource` of the cached XML).
          required:
            - corpus
        groupBy:
          type: string
          enum: [lemma]
          description: >-
            Only `lemma` is currently supported; future versions may
            add other groupings.
        computed:
          type: string
          format: date-time
          description: >-
            When the per-text cache was last computed. Single-text
            responses carry this; corpus-merged responses do not.
        totalMentions:
          type: integer
          description: Sum of `mentionCount` across `entities`.
        distinctEntities:
          type: integer
          description: Number of distinct entity keys.
        offset:
          type: integer
          description: >-
            Zero-based offset of the first entity in this page (from
            `offset`, default 0).
        limit:
          type: integer
          description: >-
            Entities per page (from `limit`, default 50).
        entities:
          type: array
          description: Paged entity list.
          items:
            $ref: '#/components/schemas/AggregateEntity'
      required:
        - scope
        - groupBy
        - totalMentions
        - distinctEntities
        - offset
        - limit
        - entities
    AggregateEntity:
      type: object
      title: Entity in aggregate
      description: >-
        One entity entry within an `EntityAggregate`. Carries
        per-entity counts and identifiers aggregated across one or
        more texts.
      x-ecocor-api-function: "aggregate:xml-to-map"
      properties:
        key:
          type: string
          description: Lemma — the grouping key.
        mentionCount:
          type: integer
          description: Total occurrences across the scope.
        textCount:
          type: integer
          description: Number of distinct texts where the entity appears.
        texts:
          type: array
          items:
            type: string
          description: Resource ids that contain the entity.
        surfaceForms:
          type: array
          description: >-
            Distinct surface forms seen for this entity (from the
            cached `surfaceForms/form` elements).
          items:
            type: string
        categories:
          type: array
          items:
            type: string
          description: Annotation `@ana` values without leading `#`.
        wikidataIds:
          type: array
          description: >-
            Wikidata Q-identifiers associated with this entity key
            (from the cached `wikidataIds/id` elements).
          items:
            type: string
        layers:
          type: array
          items:
            type: string
          description: Annotation layer names that detected the entity.
      required:
        - key
        - mentionCount
        - textCount
    AggregateComputeResult:
      type: object
      title: Aggregate compute result (admin POST)
      description: >-
        Response body from `POST /aggregate/entities`. Summarizes
        what was computed and where it was stored.
      x-ecocor-api-function: "aggregate:post-entities"
      properties:
        message:
          type: string
          description: Fixed string `"aggregate computed"`.
        computed:
          type: string
          format: date-time
          description: >-
            Timestamp when the computation ran
            (`current-dateTime()`).
        textCount:
          type: integer
          description: >-
            Number of texts for which an aggregate was (re)computed
            in this run.
        results:
          type: array
          description: One entry per recomputed text.
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource id of the recomputed text.
              distinctEntities:
                type: integer
                description: >-
                  Number of distinct entity keys in the newly
                  computed aggregate.
              totalMentions:
                type: integer
                description: >-
                  Total mention count across all entities in the
                  newly computed aggregate.
              stored:
                type: string
                description: Path of the stored aggregate XML.
            required:
              - id
              - distinctEntities
              - totalMentions
      required:
        - message
        - computed
        - textCount
        - results
