openapi: "3.0.0"

info:
  version: 0.0.1
  title: EcoCor API
  contact:
    email: "trilcke@uni-potsdam.de"
  termsOfService: "https://ecocor.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - description: Production
    url: https://ecocor.org/api

tags:
  - name: meta
    description: Information about this service.
  - name: corpus
    description: Analyze a corpus.
  - name: text
    description: Analyze a text.
  - name: entities
    description: Analyze occurrences of animals and plants in corpora and texts.
  - name: annotations
    description: Stand-off annotation layers on texts.
  - name: tokens
    description: Word and punctuation tokens from the tokenized TEI.
  - name: admin
    description: Manage corpora.

paths:
  /info:
    get:
      summary: API info
      description: >-
        Shows version numbers of the ecocor-api app and the underlying
        eXist-db.
      operationId: get-info
      tags: [meta]
      responses:
        '200':
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
              example:
                {
                  "existdb": "6.0.1",
                  "name": "EcoCor",
                  "status": "beta",
                  "version": "1.0.0"
                }

  /corpora:
    get:
      summary: List available corpora
      description: Get a list of available corpora. Optionally include corpus metrics.
      operationId: get-corpora
      tags: [corpus]
      responses:
        '200':
          description: Returns list of available corpora
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Corpus'
              example:
                [
                  {
                    "name": "en",
                    "title": "English EcoCor",
                    "repository": "https://github.com/dracor-org/eco_en",
                    "description": "See the [README on GitHub](https://github.com/dracor-org/eco_en).",
                    "licence": "CC0",
                    "licenceUrl": "https://creativecommons.org/share-your-work/public-domain/cc0/",
                    "uri": "http://ecocor.org/api/corpora/en",
                    "entitiesUrl": "http://ecocor.org/api/corpora/en/entities",
                    "textsUrl": "http://ecocor.org/api/corpora/en/texts",
                    "metrics": {
                      "numOfTexts": 23,
                      "numOfAuthors": 21,
                      "numOfParagraphs": 46457,
                      "numOfWords": 2346818.0,
                      "numOfEntities": 261,
                      "numOfEntityTypes": 3,
                      "numOfAnimals": 245,
                      "numOfPlants": 16,
                      "biodiversityIndex": 0
                    },
                    "updated": "2023-06-02T13:52:54.934Z"
                  }
                ]
    post:
      summary: Add new corpus
      operationId: post-corpora
      tags: [admin]
      requestBody:
        description: |
          The meta data for the new corpus can be provided in either JSON or XML
          format. The JSON structure is a straightforward object providing
          corpus name, title and (optionally) a repository URL. The XML format
          needs to be a TEI document with `teiCorpus` as its root element. The
          corpus title needs to be provided in the `titleStmt` while the name
          and repo URL are encoded in particular `idno` elements in the
          `publicationStmt` (see example).

          NB: Contrary to the TEI schema our teiCorpus document must not contain
          the `TEI` elements for individual texts.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - title
              properties:
                name:
                  type: string
                  description: corpus name
                title:
                  type: string
                  description: corpus title
                repository:
                  type: string
                  description: Git repository URL
            example: |
              {
                "name": "en",
                "title": "English EcoCor",
                "repository": "https://github.com/dracor-org/eco_en"
              }
          application/xml:
            schema:
              type: string
            example: |
              <?xml version="1.0" encoding="UTF-8"?>
              <teiCorpus xmlns="http://www.tei-c.org/ns/1.0">
                <teiHeader>
                  <fileDesc>
                    <titleStmt>
                      <title>English EcoCor</title>
                    </titleStmt>
                    <publicationStmt>
                      <publisher>EcoCor</publisher>
                      <idno type="URI" xml:base="https://ecocor.org/">en</idno>
                      <idno type="repo">https://github.com/dracor-org/eco_en</idno>
                    </publicationStmt>
                  </fileDesc>
                </teiHeader>
              </teiCorpus>
      responses:
        '200':
          description: Returns corpus metadata
          content:
            application/json:
              schema:
                type: object
        '409':
          description: Corpus already exists
        '400':
          description: Posted data lacks required properties or is malformed

  /corpora/{corpusname}:
    get:
      summary: Get metadata of a single corpus
      description: Retrieve metadata about a single corpus.
      operationId: get-corpus
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Returns object representing corpus metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              example:
                {
                  "name": "en",
                  "title": "English EcoCor",
                  "repository": "https://github.com/dracor-org/eco_en",
                  "description": "See the [README on GitHub](https://github.com/dracor-org/eco_en).",
                  "licence": "CC0",
                  "licenceUrl": "https://creativecommons.org/share-your-work/public-domain/cc0/",
                  "uri": "http://ecocor.org/api/corpora/en",
                  "entitiesUrl": "http://ecocor.org/api/corpora/en/entities",
                  "textsUrl": "http://ecocor.org/api/corpora/en/texts",
                  "metrics": {
                    "numOfTexts": 23,
                    "numOfAuthors": 21,
                    "numOfParagraphs": 46457,
                    "numOfWords": 2346818.0,
                    "numOfEntities": 261,
                    "numOfEntityTypes": 3,
                    "numOfAnimals": 245,
                    "numOfPlants": 16,
                    "biodiversityIndex": 0
                  },
                  "updated": "2023-06-02T13:52:54.934Z"
                }
        '404':
          description: Corpus not found
    post:
      summary: Load corpus data from its repository
      description: >-
        This endpoint requires authorization.

        Sending a POST request to the corpus URI reloads the data for this
        corpus from its repository (if defined).
      operationId: load-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '202':
          description: Corpus update has been scheduled
          content:
            application/json:
              schema:
                type: object
              example: |
                {
                  "message": "corpus update scheduled"
                }
        '404':
          description: Corpus not found
        '409':
          description: >-
            Corpus update could not be scheduled.

            This is the response when another update has not yet finished.
    delete:
      summary: Remove corpus from database
      operationId: delete-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Corpus deleted
        '404':
          description: Corpus not found

  /corpora/{corpusname}/texts:
    get:
      summary: List texts in a corpus
      description: Get the contens of a single corpus
      operationId: get-corpus-texts
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        '200':
          description: Returns an array with text meta data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Text'

  /corpora/{corpusname}/texts/{textname}:
    get:
      summary: Get a single text information
      description: Get metadata about an individual text in JSON format.
      operationId: get-text
      tags: [text]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Returns an object with text meta data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Text'
            application/tei+xml:
              schema:
                type: string

    delete:
      summary: Remove a single text from the corpus
      operationId: delete-text
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Text has been removed
        '404':
          description: No such text under this URI

  /corpora/{corpusname}/texts/{textname}/tei:
    get:
      summary: Get a single text
      description: Get a single text as TEI XML.
      operationId: get-text-tei
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        '200':
          description: Returns a TEI XML document
          content:
            application/tei+xml:
              schema:
                type: string

  /corpora/{corpusname}/texts/{textname}/plaintext:
    get:
      summary: Get plain text version of a single text
      description: Outputs the body and of the TEI document without any markup.
      operationId: get-text-plain
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        '200':
          description: Returns a plain text document
          content:
            text/plain:

  /corpora/{corpusname}/texts/{textname}/annotations:
    get:
      summary: List stand-off annotation layers for a text
      description: >-
        Returns a list of annotation layers available for the text, with
        metadata extracted from each layer's TEI header. The `name` field
        comes from the filename (stable URL identifier); the `type` field
        comes from `listAnnotation/@type` and describes the semantic kind
        of annotations — multiple layers can share the same type (e.g.
        `dictionarylookup` and `ntee` both have `type=entities`).
      operationId: get-text-annotations
      tags: [annotations]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        '200':
          description: Returns an array of annotation layer objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnnotationLayer'
        '404':
          description: Text not found or no annotations subcollection

  /corpora/{corpusname}/texts/{textname}/annotations/{layername}:
    get:
      summary: Get a single annotation layer
      description: >-
        Returns the annotation layer in the requested format. The default
        JSON response carries layer metadata, the full taxonomy, and all
        annotations with their target tokens (id + resolved surface text)
        and body (key-value pairs from `@ana`, `@corresp`, and
        `tei:note[@type]`).


        Use `format=tei` to get the raw TEI document, or `format=tsv`
        to get a tab-separated table with dynamically derived columns.


        Use `category` to filter annotations by `@ana` value (single,
        comma-separated, or repeated). The filter is ignored for
        `format=tei`. `size` and `categoryCounts` reflect the filtered
        set; `taxonomy` always contains the full taxonomy from the layer.
      operationId: get-text-annotation-layer
      tags: [annotations]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/category"
      responses:
        '200':
          description: >-
            Returns the annotation layer as JSON (default), raw TEI XML
            (format=tei), or TSV (format=tsv).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationLayerFull'
            application/xml:
              schema:
                type: string
            text/tab-separated-values:
              schema:
                type: string
        '404':
          description: Text or annotation layer not found
    put:
      summary: Add or replace an annotation layer
      description: >-
        Stores the request body as `{layername}.xml` in the text's
        annotations/ subcollection, creating the subcollection if
        missing. Replaces on re-upload. Admin endpoint.


        The layer name must consist of lowercase ASCII letters, digits
        and dashes only. The request body must be a TEI document; no
        further validation is performed.
      operationId: put-text-annotation-layer
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
      responses:
        '201':
          description: Annotation layer stored (new)
          content:
            application/json:
              schema:
                type: object
        '200':
          description: Annotation layer replaced
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid layer name or missing TEI document
        '401':
          description: Authorization required
        '404':
          description: Text not found
    delete:
      summary: Delete an annotation layer
      description: Admin endpoint.
      operationId: delete-text-annotation-layer
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/layername"
      responses:
        '200':
          description: Layer deleted
        '401':
          description: Authorization required
        '404':
          description: Layer not found


  /corpora/{corpusname}/texts/{textname}/tokens:
    get:
      summary: List all tokens of a text
      description: >-
        Returns all `<w>` and `<pc>` tokens from the tokenized base TEI
        (`tokenized.xml`) in document order. The `unit` field is only
        present on punctuation tokens that carry `@unit` (e.g. "sentence").
      operationId: get-text-tokens
      tags: [tokens]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/format"
      responses:
        '200':
          description: Returns token list as JSON (default) or TSV
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
            text/tab-separated-values:
              schema:
                type: string
        '404':
          description: Tokenized TEI not found

  /corpora/{corpusname}/texts/{textname}/tokens/{tokenid}:
    get:
      summary: Get a single token with all annotations
      description: >-
        Looks up the token in `tokenized.xml` by xml:id and aggregates
        all annotations that target it across every layer in the
        text's annotations/ subcollection. The `annotations` array is
        flat; each entry carries its `layer` name and a `body` of
        key-value pairs.
      operationId: get-text-token
      tags: [tokens]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/tokenid"
      responses:
        '200':
          description: Returns the token with its annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenWithAnnotations'
        '404':
  /entities/{wikidataId}:
    get:
      summary: Get single entity
      description: Get a single entity by its identifier on Wikidata.
      operationId: get-entity
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/entityWikidataId"
      responses:
        '200':
          description: Information on the entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'

  /corpora/{corpusname}/entities:
    get:
      summary: Get entities of a single corpus
      description: Optionally filter by entity type.
      operationId: get-corpus-entities
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'

  /corpora/{corpusname}/texts/{textname}/entities:
    get:
      summary: Get entities of a single text
      description: Optionally filter by entity type.
      operationId: get-text-entities
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'

  /corpora/{corpusname}/texts/{textname}/entities/csv:
    get:
      summary: Get entities of a single text as CSV
      description: Optionally filter by entity type.
      operationId: get-text-entities-csv
      tags:
        - entities
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
        - $ref: "#/components/parameters/entityType"
      responses:
        '200':
          description: entity
          content:
            text/csv:
              schema:
                type: string

components:
  parameters:
    corpusname:
      name: corpusname
      in: path
      required: true
      description: >
        Short name of the corpus as provided in the `name` property of the result
        objects from the [/corpora](#/corpus/get-corpora) endpoint
      schema:
        type: string
      examples:
        EnglishEcoCor:
          value: en
          summary: English EcoCor
        GermanEcoCor:
          value: de
          summary: German EcoCor
    textname:
      name: textname
      in: path
      required: true
      description: >
        Name parameter (or "slug") of the text as provided in the `name`
        property of the result objects of the
        [/corpora/{corpusname}/texts](#/corpus/get-corpus-texts) endpoint.
      schema:
        type: string
      examples:
        frankenstein:
          value: 1818_Shelley_Frankenstein
          summary: "Shelly: Frankenstein (English EcoCor)"
    entityType:
      name: type
      description: Filter entities by entity type.
      in: query
      required: false
      schema:
        type: string
      examples:
        Animal:
          value: Animal
        Plant:
          value: Plant
    entityWikidataId:
      name: wikidataId
      description: Wikidata identifier of an entity (Q Number).
      in: path
      required: true
      schema:
        type: string
    layername:
      name: layername
      in: path
      required: true
      description: >
        Annotation layer name as provided in the `name` property of the
        layers listing. This is the filename without `.xml`.
      schema:
        type: string
      examples:
        linguistic:
          value: linguistic
          summary: POS and lemma annotations
        dictionarylookup:
          value: dictionarylookup
          summary: Entity annotations from dictionary lookup
        ntee:
          value: ntee
          summary: Manual/expert entity annotations
    format:
      name: format
      in: query
      required: false
      description: >
        Output format. Default is "json". Use "tei" for the raw TEI
        document or "tsv" for tab-separated values. The `category`
        filter is ignored for `format=tei`.
      schema:
        type: string
        enum: [json, tei, tsv]
        default: json
    category:
      name: category
      in: query
      required: false
      description: >
        Filter annotations by category (the `@ana` value with leading
        `#` stripped). Accepts a single value, a comma-separated list,
        or a repeated query parameter.
      schema:
        type: string
      examples:
        plant:
          value: cat-plant
        animal:
          value: cat-animal
        noun:
          value: stts-NN
    tokenid:
      name: tokenid
      in: path
      required: true
      description: >
        Token xml:id as found in the tokenized base TEI.
      schema:
        type: string
      examples:
        pinien:
          value: eco_de_000033_140_0730
          summary: "Pinien (Kleist: Das Erdbeben in Chili)"
    format:
      name: format
      in: query
      required: false
      description: >
        Output format. Default is "json". Use "tsv" for a
        tab-separated table.
      schema:
        type: string
        enum: [json, tsv]
        default: json
  schemas:
    Info:
      type: object
      properties:
        version:
          type: string
        name:
          type: string
        status:
          type: string
        existdb:
          type: string
    CorpusMetrics:
      type: object
      properties:
        numOfTexts:
          type: integer
        numOfParagraphs:
          type: integer
        numOfWords:
          type: integer
        numOfAuthors:
          type: integer
        numOfEntities:
          type: integer
        numOfEntityTypes:
          type: integer
        biodiversityIndex:
          type: number
    Corpus:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        acronym:
          type: string
        description:
          type: string
        repository:
          type: string
          format: url
        licence:
          type: string
        licenceUrl:
          type: string
          format: url
        metrics:
          $ref: '#/components/schemas/CorpusMetrics'
        textsUrl:
          type: string
          format: url
        entitiesUrl:
          type: string
          format: url
        updated:
          type: string
      required:
        - name
        - title
        - repository
        - textsUrl
        - entitiesUrl
        - updated
    ExternalReferenceResourceId:
      type: object
      properties:
        type:
          type: string
        ref:
          type: string
    TextMetrics:
      type: object
      properties:
        numOfChapters:
          type: integer
        numOfParagraphs:
          type: integer
        numOfWords:
          type: integer
        numOfEntities:
          type: integer
        numOfEntityTypes:
          type: integer
        biodiversityIndex:
          type: number
    Author:
      type: object
      properties:
        name:
          type: string
        ref:
          type: string
          format: url
          description: Wikidata URI
        gender:
          type: string
      required:
        - name
    DigitalSource:
      type: object
      properties:
        url:
          type: string
          format: url
        name:
          type: string
      required:
        - url
    PrintSource:
      type: object
      properties:
        publisher:
          type: string
        placePublished:
          type: string
        yearPublished:
          type: integer
        title:
          type: string
    Dates:
      type: object
      properties:
        yearWritten:
          type: string
          nullable: true
        yearPrinted:
          type: string
          nullable: true
        yearNormalized:
          type: integer
          nullable: true
    Text:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        corpus:
          type: string
        title:
          type: string
        authors:
          type: array
          items:
            $ref: '#/components/schemas/Author'
        ref:
          type: string
          format: url
          description: Wikidata URI for text
        # FIXME do we need a refs array?
        # refs:
        #   type: array
        #   items:
        #     $ref: '#/components/schemas/ExternalReferenceResourceId'
        digitalSource:
          $ref: '#/components/schemas/DigitalSource'
        printedSource:
          $ref: '#/components/schemas/PrintSource'
        dates:
          $ref: '#/components/schemas/Dates'
        metrics:
          $ref: '#/components/schemas/TextMetrics'
        corpusUrl:
          type: string
          format: url
        entitiesUrl:
          type: string
          format: url
      required:
        - id
        - name
        - title
        - corpus
        - matrics
        - corpusUrl
        - entitiesUrl
    Occurrence:
      type: object
      properties:
        frequency:
          type: integer
        id:
          type: string
        # FIXME: Including the text paragraphs will not perform on the corpus
        # level which is why the property is optional for now. We should
        # consider removing it and finding an alternative why to access the
        # text. How about providing a link to the TEI with the paragraph ID as
        # fragment identifier.
        text:
          type: string
      required:
        - frequency
        - id
    EntityMetrics:
      type: object
      properties:
        scope:
          type: string
        occurrences:
          type: array
          items:
            $ref: '#/components/schemas/Occurrence'
        overallFrequency:
          type: integer
      required:
        - occurrences
        - overallFrequency
    Entity:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        type:
          type: string
        metrics:
          $ref: '#/components/schemas/EntityMetrics'
        uri:
          type: string
          format: url
    AnnotationLayer:
      type: object
      properties:
        name:
          type: string
          description: >-
            Layer identifier (filename without .xml). Stable URL
            identifier used in /annotations/{layername}.
        type:
          type: string
          description: >-
            Annotation type from listAnnotation/@type. Multiple layers
            can have the same type (e.g. dictionarylookup and ntee both
            have type=entities).
        size:
          type: integer
          description: Number of annotation elements in the layer
        categoryCounts:
          type: object
          description: >-
            Per-category count (keys are @ana values with leading #
            stripped, values are counts).
          additionalProperties:
            type: integer
        uri:
          type: string
          format: url
        title:
          type: string
        licence:
          type: string
          format: url
        source:
          type: string
          description: Filename of the base TEI this layer annotates
        application:
          type: object
          properties:
            ident:
              type: string
            version:
              type: string
      required:
        - name
        - type
        - size
        - categoryCounts
        - uri
    AnnotationLayerFull:
      allOf:
        - $ref: '#/components/schemas/AnnotationLayer'
        - type: object
          properties:
            taxonomy:
              type: object
              description: >-
                Category definitions from the layer's `<classDecl>`.
                Always the full taxonomy, regardless of category filter.
              properties:
                id:
                  type: string
                categories:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      description:
                        type: string
            annotations:
              type: array
              items:
                $ref: '#/components/schemas/Annotation'
          required:
            - annotations
    Annotation:
      type: object
      properties:
        target:
          type: object
          description: The annotated token(s)
          properties:
            id:
              description: >-
                Token xml:id. For multi-token spans this is an array of
                ids in document order.
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            text:
              type: string
              description: >-
                Surface form of the target token(s), resolved from the
                tokenized base TEI. Multi-token spans are joined with
                single spaces.
          required:
            - id
            - text
        body:
          type: array
          description: >-
            Key-value pairs representing the annotation content.
            Keys come from TEI attributes (`ana`, `corresp`) and
            `tei:note[@type]` children (e.g. `lemma`).
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
            required:
              - key
              - value
      required:
        - target
        - body

    Token:
      type: object
      properties:
        id:
          type: string
          description: Token xml:id
        text:
          type: string
          description: Surface form
        type:
          type: string
          enum: [w, pc]
          description: Element type (word or punctuation)
        unit:
          type: string
          description: Punctuation unit (e.g. "sentence"), only on pc tokens
      required:
        - id
        - text
        - type
    TokenWithAnnotations:
      allOf:
        - $ref: '#/components/schemas/Token'
        - type: object
          properties:
            annotations:
              type: array
              description: >-
                Annotations from all layers targeting this token. Each
                entry carries the layer name and a body of key-value
                pairs (from @ana, @corresp, and note[@type]).
              items:
                type: object
                properties:
                  layer:
                    type: string
                  body:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        value:
                          type: string
                      required:
                        - key
                        - value
                required:
                  - layer
                  - body
